@CHARSET "ISO-8859-1";

img {
	height: 70px;
	width: 100px;
}

body {
	color: white;
	background-image: url("../images/redbackgroundimage.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}

#mainheading {
	color: #0000ff;
	font-size: 20pt;
	margin-left: 50pt;
}

#logoutbutton {
	color: rgb(255, 0, 0);
	font-size: 13pt;
	margin-left: 0pt;
	font: serif;
	background-color: rgba(244, 125, 54, 0.95);
}

#headerdetails {
	float: left;
	list-style-type: none;
	margin-left: 15em;
	color: white;
}

.kpitimg {
	margin-left: 5em;
}

#loginform {
	margin-top: 80pt;
	margin-left: 300pt;
	border: 2px solid;
	border-radius: 25px;
	margin-right: 400pt;
	padding-left: 40pt;
	padding-right: 50pt;
	background-color: rgba(255, 0, 0, 0);
	color: black;
	opacity: 1.0;
}

#loginsubmitbutton {
	margin-left: 100pt;
	margin-bottom: 20pt;
}

#registerbutton {
	margin-left: 440pt;
}

#registrationform {
	margin-top: 80pt;
	margin-left: 300pt;
	border: 2px solid;
	border-radius: 25px;
	margin-right: 350pt;
	padding-left: 40pt;
	padding-right: 50pt;
	color: black;
	background-color: rgba(255, 0, 0, 0);
	opacity: 1.0;
}

#registersubmitbutton {
	margin-left: 100pt;
	margin-bottom: 20pt;
	color: white;
	background-color: rgba(255, 118, 0, 0.18);
}

#invalidbn {
	color: red;
}

#registrationpassword {
	margin-left: 78pt;
}

#rregistrationpassword {
	margin-left: 15pt;
}

#registrationsuccess {
	color: #ffffff;
	font-size: 20pt;
	margin-left: 330pt;
}


#registerbutton {
	color: white;
}

#mainheading {
	color: white;
}

#psid {
	margin-left: 3pt;
}

img {
	height: 180pt;
	width: 250pt;
}
/* ADMIN SIDE CSS */
#services {
	float: left;
	list-style-type: none;
	margin-left: 150pt;
}

#capsrvices {
	float: left;
	list-style-type: none;
	font: 60pt;
	color: #ffffff;
	padding-left: 230pt;
}

.movieServiceCaption {
	margin-left: 110pt;
}

#greet {
	margin-left: 370pt;
}

#adminsidebusdetails {
	margin-left: 300pt;
}

#addBusButton {
	margin-left: 450pt;
	color: white;
	background-color: red;
}

#deletebusform {
	margin-left: 350pt;
	border-radius: 25px;
}

#deletebuutton {
	margin-left: 80pt;
	color: white;
	background-color: rgba(255, 118, 0, 0.18);
}

#editebusform {
	margin-left: 350pt;
	border-radius: 25px;
}
#buseditformheading{
	margin-left: 50pt;
}
#editbuutton {
	margin-left: 80pt;
	color: white;
	background-color: rgba(255, 118, 0, 0.18);
}
#addbusformheading{
	margin-left: 400pt;
}
#addbusform{
	margin-left: 350pt;
	border-radius: 25px;
}
#idfornewbusname{
	margin-left: 22pt;
}
#idfornewbusnumber{
	 margin-left: 12pt;
}
#idfornewbustype{
	margin-left: 27pt;
}
#idfornewbussubmit{
	margin-left: 71pt;
	color: white;
	background-color: rgba(255, 118, 0, 0.18);
}
/* #errormsg{
	margin-left: 380pt;
} */
#busbookingform{
	margin-left: 350pt;
	border: medium;
}
#bussearchbutton{
	margin-left: 65pt;
	color: white;
	background-color: rgba(255, 118, 0, 0.18);
}
#viewseat{
	margin-left: 330pt;
}
#viewSelectedBusForBookingform{
	margin-left: 390pt;
}
#viewseatbutton{
	margin-left: 65pt;
	color: white;
	background-color: rgba(255, 118, 0, 0.18);
}
#seatsheading{
	margin-left: 390pt;
}
#totalseatselectedheading{
	margin-left: 390pt;
}
#noofseatselectedbyuser{
	margin-left: 350pt;
}
#proceedbutton{
	color: white;
	background-color: rgba(255, 118, 0, 0.18);
}
#passengerdetailsform{
	margin-left: 350pt;
}
#proceedbuttonforpassenger{
	color: white;
	background-color: rgba(255, 118, 0, 0.18);
	margin-left: 80pt;
}
#passengerGender{
	margin-left: 86pt;
}
#passengerAge{
	margin-left: 102pt;
}
#passengerContact{
	margin-left: 85pt;
}
#copassengername{
	margin-left: 47pt;
}
#copassengerGender{
	margin-left: 86pt;
}
#copassengerAge{
	margin-left: 102pt;
}
#bookingsuccessmsg{
	margin-left: 330pt;
	font-size: 18pt;
}
#femaleSeatIdentifier{
	height: 12pt;
}
#UnavailableSeatIdentifier{
	height: 12pt;
}
#logoutmsg{
	margin-left: 420pt;
}